<form class="clr-form clr-form-horizontal" class="bg-img">
    <br><br><br><br>
    <h1 style="text-align: center; color: rgb(255, 255, 255); font-weight: bold;">Paste the URL to be shortened</h1>
    <br><br><br><br>
    <div *ngIf="responseData != {}" class="flex-container">
        <input style="background-color: rgb(255, 255, 255); width: 300%; " placeholder="Paste a URL"
            name="longUrl" [(ngModel)]="longUrl" />
        

        <button type="submit" class="btn btn-primary btn-block" style="width: 50%;">Shorten URL</button>
        
  
        <!--    <button (click)="onSubmit()" class="btn btn-primary">Shorten URL</button> -->
    </div>
  <!--  <div *ngIf="responseData.shortURL" class="flex-container">
        <input style="background-color: white;" placeholder="Paste a URL"
            name="shortUrl" [value]="responseData.shortURL" size="180"/>
        <button class="btn btn-lg btn-primary btn-icon">
            <cds-icon shape="check"></cds-icon>
        </button> 
    </div>
-->



    <br><br><br><br>
</form>
<br><br>


<h3><b>Please confirm the type of URL</b></h3>
<br>
<clr-radio-wrapper>
    <input type="radio" clrRadio value="option1" name="options" />
    <label>Public</label>
  </clr-radio-wrapper>
  <clr-radio-wrapper>
    <input type="radio" clrRadio value="option2" name="options" />
    <label>Private</label>
  </clr-radio-wrapper>
  <h3><b>Allow this URL access to the following users </b></h3>
  <br>
  <form clrForm>
    <clr-input-container>
      <label>User Id</label>
      <input clrInput placeholder="Fill me in, scotty!" name="name"  />
    </clr-input-container>
    <clr-input-container>
        <label>User Id</label>
        <input clrInput placeholder="Fill me in, scotty!" name="name"  />
      </clr-input-container>
      <clr-input-container>
        <label>User Id</label>
        <input clrInput placeholder="Fill me in, scotty!" name="name"  />
      </clr-input-container>
      <clr-input-container>
        <label>User Id</label>
        <input clrInput placeholder="Fill me in, scotty!" name="name"  />
      </clr-input-container>
  </form>