<div class="login-wrapper">
    <form class="login" [formGroup]="userlogin">

        <div class="alert alert-danger" *ngIf="errorMessage">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <cds-icon class="alert-icon" shape="exclamation-circle"></cds-icon>
                    </div>
                    <span class="alert-text">
                    {{errorMessage}}
                </span>
                </div>
            </div>
            <button (click)="errorMessage=''" type="button" class="close" aria-label="Close">
              <cds-icon aria-hidden="true" shape="window-close"></cds-icon>
            </button>
        </div>

        <section class="title">
            <h3 class="welcome">Welcome to</h3>
            Short URL Service
        </section>
        <div class="login-group">
            <clr-input-container>
                <label class="clr-sr-only">Username</label>
                <input type="text" name="username" clrInput placeholder="Username" formControlName="username" />

            </clr-input-container>
            <clr-password-container>
                <label class="clr-sr-only">Password</label>
                <input type="password" name="password" clrPassword placeholder="Password" formControlName="password" />

            </clr-password-container>
            <button (click)="onSubmit()" type="submit" class="btn btn-primary" routerLinkActive="active" [disabled]="!userlogin.valid">Login</button>
            <label>Don't have an account? <a routerLink="/signup" class="nav-link nav-text" routerLinkActive="active"><u><b>Sign Up</b></u> </a>
      </label>
        </div>
    </form>
</div>