<div class="login-wrapper">
    <form class="login">
      <section class="title">
        <h3 class="welcome">Welcome to</h3>
        Short URL Service
       
      </section>
      <div class="login-group">
        
        <clr-input-container>
          <label class="clr-sr-only">Username</label>
          <input type="text" name="username" clrInput placeholder="Username"  />
        </clr-input-container>
        <clr-input-container>
            <label class="clr-sr-only">Email</label>
            <input type="email" name="username" clrInput placeholder="Email"  />
          </clr-input-container>

        <clr-password-container>
          <label class="clr-sr-only">Password</label>
          <input type="password" name="password" clrPassword placeholder="Password" />
        </clr-password-container>
        <clr-password-container>
            <label class="clr-sr-only">Confirm Password</label>
            <input type="password" name="password" clrPassword placeholder="Confirm Password" />
          </clr-password-container>
        <clr-checkbox-wrapper>
          <label>I agree all statements in <u>Terms of Service</u> </label>
          <input type="checkbox" name="rememberMe" clrCheckbox  />
        </clr-checkbox-wrapper>
  <!----  <div class="error active">
          Invalid user name or password
        </div>                          -->
        <button type="submit" class="btn btn-primary">Sign Up</button>
        <clr-checkbox-wrapper>
            <label>Have already an account? <a routerLink="/login" class="nav-link nav-text" routerLinkActive="active"><u><b>Login here</b></u> </a>
            </label>
          </clr-checkbox-wrapper>
      </div>
    </form>
  </div>