<div class="login-wrapper">
  <form class="login" [formGroup]="usersignup" >
    <section class="title">
      <h3 class="welcome">Welcome to</h3>
      Short URL Service
      </section>
    <div class="login-group">
      <clr-input-container>
        <label class="clr-sr-only">Username</label>
        <input type="text" name="username" clrInput placeholder="Username" formControlName = "username"/>
      </clr-input-container>

      <clr-input-container>
        <label class="clr-sr-only">Email Id</label>
        <input type="text" name="Email" clrInput placeholder="Email Id" formControlName = "emailid"/>
      </clr-input-container> 

      <clr-password-container>
        <label class="clr-sr-only">Password</label>
        <input type="password" name="password" clrPassword placeholder="Password" formControlName = "password"/>
      </clr-password-container>

      <clr-password-container>
        <label class="clr-sr-only">Confirm Password</label>
        <input type="password" name="cpassword" clrPassword placeholder="Confirm Password" formControlName = "confirmpassword"/>
      </clr-password-container>



      <button type="submit" class="btn btn-primary" routerLink="/convert-url"  routerLinkActive="active" [disabled]="!usersignup.valid">Login</button>
      <label>Already have an account? <a routerLink="/login" class="nav-link nav-text" routerLinkActive="active"><u><b>Login</b></u> </a>
      </label>
    </div>
  </form>
</div>