<div class="login-wrapper">
  <form class="login">
    <section class="title">
      <h3 class="welcome">Welcome to</h3>
      Short URL Service
      </section>
    <div class="login-group">
      <clr-input-container>
        <label class="clr-sr-only">Username</label>
        <input type="text" name="username" clrInput placeholder="Username" />
      </clr-input-container>
      <clr-input-container>
        <label class="clr-sr-only">Email Id</label>
        <input type="email" name="username" clrInput placeholder="Email Id" />
      </clr-input-container>
      <clr-password-container>
        <label class="clr-sr-only">Password</label>
        <input type="password" name="password" clrPassword placeholder="Password" />
      </clr-password-container>
      <clr-password-container>
        <label class="clr-sr-only">Confirm Password</label>
        <input type="password" name="password" clrPassword placeholder="Confirm Password" />
      </clr-password-container>  
      
 <div class="error active">
        Invalid user name or password
      </div>  
      <button type="submit" class="btn btn-primary">Sign Up</button>
      <label>Already have an account? <a routerLink="/login" class="nav-link nav-text" routerLinkActive="active"><u><b>Login</b></u> </a>
      </label>
    </div>
  </form>
</div>
