<form class="clr-form clr-form-horizontal" class="bg-img">
    <br><br><br><br>
    <h1 style="text-align: center; color: white; font-weight: bold;">Paste the URL to be Shortened</h1>
    <br><br><br><br>
    <div *ngIf="showInput" class="flex-container">
        <input style="background-color: white; width: 80%;" placeholder="Paste a URL"
            name="longUrl" [(ngModel)]="longUrl" />
        <button (click)="onSubmit()" class="btn btn-lg btn-primary btn-icon">
            <cds-icon shape="check"></cds-icon>
        </button>
    </div>
    <div *ngIf="!showInput" class="flex-container">
        <input style="background-color: white; width: 80%;" placeholder="Paste a URL"
            name="shortUrl" [(ngModel)]="longUrl" (ngModelChange)="changed()"/>
        <button (click)="copyLink()" class="btn btn-lg btn-primary btn-icon">
            <cds-icon shape="copy"></cds-icon>
        </button>
    </div>
    <br><br><br><br>
</form>
<a routerLink="/login" class="nav-link nav-text" routerLinkActive="active">Login</a>
  