<!-- Top level Navbar -->
<header class="header-6">
    <div class="branding">
        <a href="javascript://" class="nav-link">
            <cds-icon shape="vm-bug"></cds-icon>
            <span class="title">Short URL Service</span>
        </a>
    </div>
    <div class="header-nav">
        <a routerLink="/" [routerLinkActiveOptions]="{exact: true}" class="nav-link nav-text" routerLinkActive="active">Dashboard</a>
        <a *ngIf="username" routerLink="/shared" class="nav-link nav-text" routerLinkActive="active">Shared with me</a>
        <!-- <a routerLink="/login" class="nav-link nav-text" routerLinkActive="active">Login</a>
     -->
    </div>

    <div class="header-actions" *ngIf="username === '' ; else showUser">
        <a routerLink="/login" class="nav-link nav-text">
            Log In
        </a>
    </div>
    <ng-template #showUser>
        <div class="header-actions">
            <span class="user-text"> {{username}} </span>
            <a routerLink="/login" (click)="logout()" class="nav-link nav-text">
                Log Out
            </a>
        </div>
    </ng-template>
</header>