h1 {
    text-align: center;
    font-weight: bold;
}

.longUrl {
    background-color: white;
    width: 80%;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.bg-img {
    text-align: center;
}

.btn {
    margin: 0rem;
}

.urls-container {
    margin: 3rem;
}

.urls-list {
    margin: 2rem;
}

.shortURLLabel {
    font-size: large;
    font-weight: bold;
    margin-top: 0.25rem;
}

.user-text {
    padding: 0.9rem;
    border-right: 1px solid #b3b3b3;
}